* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Evita barra de rolagem horizontal */

}
.degrade-text {
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
    background: linear-gradient(to right, #C0C0C0, #1fece2); /* Degradê do cinza ao azul */
    -webkit-background-clip: text; /* Para navegadores baseados em WebKit (Chrome, Safari) */
    -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
}
section h2 {
    font-size: 2.5rem; /* Tamanho maior para maior destaque */
    font-family: 'Roboto Mono', monospace;
    color: #1fece2;
    text-align: center;
    padding-top: 20px; /* Distância do topo */
    margin-bottom: 150px; /* Espaço entre o título e o conteúdo */
    position: relative;
}
section h2::before,
section h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30%;
    height: 2px;
    background-color: #1fece2; /* Azul elétrico para a linha */
}

section h2::before {
    left: 0;
}

section h2::after {
    right: 0;
}
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color:  #d9d9e9;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
    font-family: 'Roboto Mono', monospace;
}


header nav {
    display: flex;
}

header nav a {
    color: #1fece2;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

header nav a:hover {
    color: #F2F2F2;
}

section {
    padding: 100px 20px;
    min-height: 100vh;
    position: relative;
    z-index: 2; 
}

main {
    position: relative;
    z-index: 2;
    color: #1fece2;
}

/* Estilos adicionais para conteúdo */
.home-content,
#home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 50px;
    color: #d9d9e9;
}
#home .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}
.home-content {
    max-width: 700px; /* Limita a largura do conteúdo para melhor legibilidade */
}


#home .profile-pic img {
    width: 100%;
    height: 100%;
}

#home h3 {
    font-size: 1.5rem; /* Tamanho menor para h2 */
    margin: 0; /* Remove a margem padrão */
    font-family: 'Roboto Mono', monospace;
}

#home h1 {
    font-size: 3rem; /* Tamanho maior para h1 */
    margin: 10px 0; /* Margem para espaçamento vertical */
}

#home p {
    font-size: 3.0rem; /* Tamanho bem maior para p */
    margin: 20px 0; /* Margem para espaçamento vertical */
    font-family: 'Roboto Mono', monospace;
}
#home button {
    font-family: 'Roboto Mono', monospace;
    padding: 10px 20px;
    background-color: rgba(11, 97, 100, 0.4);
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px; /* Adiciona espaço acima do botão */
}

#home button:hover {
    background-color: #077973;
}
#sobre {
    padding: 50px;
    text-align: center;
    color: #d9d9e9;
    padding: 50px 20px
}


.about-content {
    display: flex;
    align-items: center; /* Alinha a imagem e o texto no centro verticalmente */
    justify-content:space-evenly;
    gap: 50px; /* Espaço entre a imagem e o texto */
    flex-wrap: wrap;
}

.about-img {
    
    margin: 0; 
}

.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-info {
    max-width: 600px;
    color: #F2F2F2;
    text-align: justify; 
    font-family: 'Roboto Mono', monospace;
}

#projetos {
    padding: 50px;
    text-align: center;
    color: #d9d9e9;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    margin-top: 20px;
}

.projeto-card {
    background-color: rgba(0, 0, 0, 0.6);
    color: #F2F2F2;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px;
}

.projeto-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.projeto-card h3 {
    margin-top: 10px;
    color: #d9d9e9;
}

.projeto-card p {
    margin: 10px 0;
}

.projeto-card button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: rgba(11, 97, 100, 0.4);
    color: #F2F2F2;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

.projeto-card button:hover {
    background-color: #077973;
    color: #333;
}
#habilidade {
    padding: 50px;
    text-align: center;
    color: #d9d9e9;
    position: relative; /* Define uma posição para a camada de sobreposição */
}

.icon-container {
    display: grid;
    gap: 30px; 
    margin-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    justify-items: center;
    position: relative;
}

.icon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Sombra leve atrás */
    filter: blur(20px); /* Efeito de desfoque */
    z-index: 1; /* Posiciona a camada atrás dos ícones */
}

.tech-icon {
    width: 100%;
    max-width: 150px; 
    height: auto;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2; /* Garante que o ícone fique acima da sobreposição */
}

.tech-icon:hover {
    transform: scale(1.15); 
}

footer#contato {
    padding: 30px;
    text-align: center;
    color: #d9d9e9;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.social-icons a {
    color: #d9d9e9;
    font-size: 1.8rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #F2F2F2;
}

